body{
    font:arial,helvetica, sans-serif;
}
#container {
    width: 1050px;
    /* border: 1px solid grey; */
    margin: auto;
    
}
h1 a{
    font-size: 50px;
    font-weight: 100;
    text-decoration: none;
    color: purple;
    
}

#searchbox {
    float: right;
    background: linear-gradient(#92B69E,#D7E2A6);
    width: 400px;
    height: 50px;
    padding: 10px 10px 0px 10px;
    margin: 20px 20px;
}

#brand {
    float: left;
}

#header {
    height: 100px;
    padding: 10px 0px;
}


.text {
    float: left;
    color: red;
    font-size: 15px;
    padding: 5px;
    background: white url(images/search_logo.png) right center no-repeat;
    
}

.submit {
    float: right;
    background-color: purple;
    font-weight: bold;
    color: white;
    padding: 5px;
    font-size: 15px;
}

.clear {
    clear:both;
}
#menu{
     background: linear-gradient(#F7F192,#DFDC4D);
    height: 70px;
    padding: 7px;
}
ul{
    list-style: none;
}
#menu ul li{
float: left;
padding:0 30px;
    height: 30px;
    border-right: 1px solid ;
    line-height: 30px;
   
}
#menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    -webkit-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
    
}
#menu ul li:last-child{
border-right: none;}

#menu ul li a:hover ,#menu ul li a.active{
    font-weight: bold;
    font-size: 20px;
    color: purple;
    
}
#introduction {
    background: linear-gradient(#D6EC96,#BDE55E);
    padding: 30px;
    margin: 10px 0px;
}
#introduction h3{
    font-size: 45px;
    color: green;
   font-weight: normal;
        }
#introduction p{
    font-size: 25px;
    color: rgb(120,148,80);
    text-align: justify;
}
#leftsidebar {
    float: left;
}

#leftsidebar ul li{
list-style-image: url(images/arrow.png);
padding-bottom: 6px;
padding-left: 10px;
padding-top: 6px;
}
.sidebar ul{
    padding-top: 8px;
}
#rightsidebar {
    float: right;
}
#rightsidebar ul li{
    background: url(images/tick.png) no-repeat left center;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 70px;
    
}
.sidebar {
    height: 500px;
    width: 450px;
    border: grey 1px solid;
    border-radius: 20px;
    padding: 10px 30px;
}
.sidebar h3{
    color: purple;
    font-size: 25px;
}

.sidebar ul li a{
    text-decoration: none;
    font-size: 20px; 
    
}
.sidebar ul li a:hover,.sidebar ul li a.active{
    font-size: 23px;
        color:purple;
    font-weight: bold;
    -webkit-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
}
.footer {
    height: 60px;
    background: linear-gradient(#F5F192,#E0DC4D);
    padding: 10px 30px;
    margin-top: 15px;
    
}
